<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util.xsd
 		http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:auditoriums.properties,discounts.properties" />
	
	<import resource="discount.xml"/>
	
	<bean id="auditorium0" class="ru.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium.0.name}" />
		<property name="numberOfSeats" value="${auditorium.0.seats}" />
		<property name="vipSeats" value="#{'${auditorium.0.vipSeats}'.split(',')}" />
	</bean>
	<bean id="auditorium1" class="ru.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium.1.name}" />
		<property name="numberOfSeats" value="#{ T(java.lang.Long).valueOf('${auditorium.1.seats}') } " />
		<property name="vipSeats" value="#{'${auditorium.1.vipSeats}'.split(',')}" />
	</bean>
	<bean id="auditorium2" class="ru.epam.spring.hometask.domain.Auditorium">
		<property name="name" value="${auditorium.2.name}" />
		<property name="numberOfSeats" value="#{ T(java.lang.Long).valueOf('${auditorium.2.seats}') } " />
		<property name="vipSeats" value="#{'${auditorium.2.vipSeats}'.split(',')}" />
	</bean>

	<util:map id="auditoriumMap" map-class="java.util.HashMap">
		<entry key="#{ auditorium0.getName() }" value-ref="auditorium0" />
		<entry key="#{ auditorium1.getName() }" value-ref="auditorium1" />
		<entry key="#{ auditorium2.getName() }" value-ref="auditorium2" />
	</util:map>
				
	<bean id="auditoriumService" class="ru.epam.spring.hometask.service.impl.AuditoriumServiceImpl">
		<property name="auditoriums" ref="auditoriumMap"/>
	</bean>
	
	<bean id="ticketDAO" class="ru.epam.spring.hometask.dao.impl.TicketDAOImpl">
	</bean>
	
	<util:map id="ratingRates" map-class="java.util.HashMap" value-type="java.lang.Double">
		<entry key="#{ T(ru.epam.spring.hometask.domain.EventRating).HIGH }" value="1.2"  />
		<entry key="#{ T(ru.epam.spring.hometask.domain.EventRating).MID }" value="1.0" />
		<entry key="#{ T(ru.epam.spring.hometask.domain.EventRating).LOW }" value="0.8" />
	</util:map>
	
	<bean id="bookingService" class="ru.epam.spring.hometask.service.impl.BookingServiceImpl">
		<constructor-arg value="1.5" type="double"/>
		<constructor-arg ref="ratingRates" />
		<property name="ticketDAO" ref="ticketDAO"/>
		<property name="discountService" ref="discountService"/>
	</bean>

	<bean id="eventDAO" class="ru.epam.spring.hometask.dao.impl.EventDAOImpl">
	</bean>

	<bean id="eventService" class="ru.epam.spring.hometask.service.impl.EventServiceImpl">
		<property name="eventDAO" ref="eventDAO"/>
	</bean>

	<bean id="userDAO" class="ru.epam.spring.hometask.dao.impl.UserDAOImpl">
	</bean>
	
	<bean id="userService" class="ru.epam.spring.hometask.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"/>
	</bean>
	
	<bean id="app" class="ru.epam.spring.hometask.App">
		<property name="auditoriumService" ref="auditoriumService"/>
		<property name="bookingService" ref="bookingService"/>
		<property name="eventService" ref="eventService"/>
		<property name="userService" ref="userService"/>
	</bean>
</beans>